
table {
    width: 100%;
    font-family: Arial;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 8px;
}

thead {
    background-color: gray;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f6c0c0;
}
.delete-btn {
    background-color: #e07a7a;
    padding: 10px 30px;
    border-radius: 1px;
}

.edit-btn {
    background-color: rgb(208, 180, 23);
    padding: 10px 30px;
}


.details-btn {
    background-color: rgb(18, 134, 160);
    padding: 10px 30px;
}